@import "tailwindcss";

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    background-color: #333;
    position: fixed;
}

.navbar-element {
        display: inline;
        float: left;
}

.navbar-link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} 
.navbar-link:hover {
    background-color: white;
    color: black;
}