.container {
    position: relative;
    min-height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.mediaContent {
    margin-top: 20vh;
    position: relative;
    z-index: 2;
    padding: 2rem;
    max-width: 800px;
}


.mediaTitle {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

  
.playButton {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #00aaff;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 1.5rem;
    text-decoration: none;
    transition: background-color 0.3s;
}

.playButton:hover {
    background-color: #0088cc;
}

.starButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #00aaff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    position: relative;
    color: white;
    font-size: 22px;
}

.starButton::before {
    
    position: absolute;
}

.starButton:hover {
    background-color: #0088cc;
    transform: scale(1.1);
}

.starButton:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.3);
}

.seasonsDropdown {
    display: block;
    padding: 0.8rem 1rem;
    background-color: #00aaff;
    color: white;
    font-weight:600;
    font-size: 1.0rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 1.5rem;
    text-decoration: none;
    transition: background-color 0.3s;
}

.seasonsDropdown:hover {
    background-color: #0088cc;
}

.seasonsDropdownItem {
    display: block;
    padding: 0.8rem 1rem;
    background-color: #323d43;
    color: white;
    font-weight:600;
    font-size: 1.0rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 1.5rem;
    text-decoration: none;
    transition: background-color 0.3s;
}

.mediaDescription {
    font-size: 1.1rem;
    line-height: 1.6;
    max-width: 700px;
    margin-bottom: 30;
}

.mediaContent {
    animation: fadeIn 1.2s ease-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}
